{% extends "layout.njk" %}
{% block content %}
<h1>{{ title }}</h1>
<form method="POST" action="{{ action }}" style="width:70%;margin:20px;">
  <label>ClientID:</label><br><input name="ClientID" value="{{ booking.ClientID or '' }}"><br><br>
  <label>SpecialistID:</label><br><input name="SpecialistID" value="{{ booking.SpecialistID or '' }}"><br><br>
  <label>ServiceID:</label><br><input name="ServiceID" value="{{ booking.ServiceID or '' }}"><br><br>
  <label>Дата:</label><br><input type="date" name="Date" value="{{ booking.Date or '' }}"><br><br>
  <label>Час:</label><br><input type="time" name="Time" value="{{ booking.Time or '' }}"><br><br>
  <label>Статус:</label><br><input name="Status" value="{{ booking.Status or '' }}"><br><br>
  <button type="submit">Зберегти</button> <a href="/bookings">Назад</a>
</form>
{% endblock %}
