<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "SPA API" }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {% include "partials/_navbar.njk" %}
  <main>
    {% include "partials/_messages.njk" %}
    {% block content %}{% endblock %}
  </main>
</body>
</html>
